; 请妥善保管您的配置
; 请妥善保管您的配置
registry=https://moensun-npm.pkg.coding.net/npm/moensun/
always-auth=true
//moensun-npm.pkg.coding.net/npm/moensun/:username=moensun-1653547579859
//moensun-npm.pkg.coding.net/npm/moensun/:_password=ZjMzYjU1MmM3NGYwMGJjYmQ5NDRmNzUwMTc1ZjJkNWRhZmU4ZDI5Mg==
//moensun-npm.pkg.coding.net/npm/moensun/:email=fengxiaotx@163.com
